{{template "header" .}}

<form action="/users" method="post">
    <div>
        <label for="email">Email Address</label>
        <input name="email" type="email" id="email" placeholder="abc@xyz.com" autocomplete="email" required/>
    </div>
    <div>
        <label for="password">Password</label>
        <input name="password" type="password" placeholder="Password" required/>
    </div>
    <div>
        <button type="submit">Sign up</button>
    </div>
</form>

{{template "footer" .}}